<div class="well sideba-nav">
	<ul class="nav nav-list">
		<li class="nav-header">Buscar Películas</li>
		<li>Género</li>
		<li>Año</li>
		<li>Director</li>
		<li class="nav-header">Buscar Directores</li>
		<li>País</li>
		<li>Peliculas</li>
	</ul>
</div>